* {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

header {
	background-color: #53b1f0;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	background-image: url(../images/banner.jpg);
}

.idiomas {
	font-size: 9px;
	position: top;
	display: flex;
}

.bocadillo {
	background-image: url(../images/bocadillo.png);
	width: 20px;
	height: 20px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
}

.español {
	background-image: url(../images/spain.png);

}

.catalan {
	background-image: url(../images/catalan.png);
}

.ingles {
	background-image: url(../images/ingles.png);
}

.imagen {
	display: block;
	background-image: url(../images/Logo.jpg);
	width: 1300px;
	height: 150px;
	background-size: 10%;
	background-position: center;
	background-repeat: no-repeat;
}

#search {
	margin-top: 6px;
	float: right;
}

.menu {
	display: flex;
	flex-direction: row;
	background-color: #5682a3;
	align-content: center;
	align-self: center;
}

.menu > a {
	font-size: 20px;
	text-decoration: none;
	margin: 10px;
	margin-left: 30px;
	color: white;
}

.lupa {
	display: block;
	background-image: url(../images/lupa.png);
	width: 40px;
	height: 30px;
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
}

#maintext {
	font-family: 'Roboto Slab', serif;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 10px;
}

#fila1 {
	width: 1200px;
	height: 30px;
	display: flex;
	margin-top: 5px;
}

#fila1 > form {
	margin-right: 100px;
}

#fila1 input {
	width: 450px;
}

#fila2 {
	width: 1200px;
	height: 30px;
	display: flex;
	margin-top: 5px;

}

#fila2 > form {
	margin-right: 100px;
}

#fila2 input {
	width: 450px;
}

#fila3 {
	width: 1200px;
	height: 30px;
	display: flex;
	margin-top: 5px;
}

#fila3 > form {
	margin-right: 100px;
}

#fila3 input {
	width: 450px;
}

#fila4 {
	width: 1200px;
	height: 30px;
	display: flex;
	margin-top: 5px;
}

#fila4 > form {
	margin-right: 108px;
}

#fila4 input {
	width: 450px;
}

#fila5 {
	width: 1200px;
	height: 30px;
	display: flex;
	margin-top: 5px;
}

#fila5 > form{
	margin-right: 108px;
}

#fila5 input {
	width: 450px;
}

#Enviar {
	margin-left: 975px;
	width: 70px
}

#terminis {
	width: 5px;
}

footer {
	display: flex;
	color: white;
	height: auto;
	width: 100%;
	background: #333333;
}

footer #container {
	margin: 20px;
	width: 100%;
}

img#logo_footer {
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

footer .left .image {
	float: left;
	width: 70px;
	height: auto;
	border-right: 1px solid white;
	margin-right: 15px;
	transition: 1s;
}

footer .left .image img:hover {
	animation: girar 1s infinite;
}


@keyframes girar {
	0% {
    	transform: rotate(0deg);
	}

  100% {
      	transform: rotate(360deg);
    }  
  } 

footer .left {
	float: left;
	width: 70%;
}

footer #footer-text {
	margin-top: 60px;
	font-size: 15px;
}

.socialNetworks {
	float: left;
	width: 80%;
}

.socialNetworks .social {
	width: 30px;
	height: 30px;
	background-size: 30px;
	margin: 7px;
	border-radius: 50px;
	float: left;
	filter: grayscale(100%);
}

.socialNetworks .social:hover {
	filter: grayscale(0%);
	transition: 0.8s;
}

.facebook {
	background-color: #2132CB;
	background-image: url(../images/facebook.png);
}

.twitter {
	background-image: url(../images/twitter.png);
}

footer .right {
	float: left;
	width: 30%;
	height: auto;
	text-align: justify;
}

footer form#newsletter {
	margin-top: 10px;

}

form#newsletter img {
	width: 30px;
	height: 30px;
}

footer form#newsletter input {
	float: right;
	width: calc(100% - 56px);
	margin-left: 0px;
	transition: 1s;
}
